* {
  padding: 0;
  margin: 0;
}
main {
  padding: 0 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.text-logo > a {
  text-decoration: none;
}

.nav-menu {
  font-size: larger;
  list-style-type: none;
  display: flex;
}
.nav-menu > li {
  display: flex;
  justify-content: space-between;
}
