* {
  padding: 0;
  margin: 0;
}
.container {
  padding: 0 1rem;
}
/* header */
header {
  background-color: aqua;
}
.navbar {
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.text-logo > a {
  text-decoration: none;
  display: flex;
}
.nav-menu {
  font-size: larger;
  list-style-type: none;
  display: flex;
}
.nav-menu > li {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
}
.menu-login {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.menu-login > li {
  padding: 0 0.25rem;
}
/* Selesai Header */

.utama {
  display: flex;
}
